.list {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

/* PAGE */

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
  width: 228px;
  height: 32px;
}

.section-title {
  width: 60%;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 1100px;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

.table__heading {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* HEADER */

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  position: relative;
  z-index: 2;
  max-width: 730px;
  margin: 0 0 0 64px;
  padding: 0;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  max-width: 388px;
  margin: 0;
  padding: 0;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__link {
  padding: 0;
  margin: 0;
  color: #2f80ed;
  text-decoration: none;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 765px;
  height: 608px;
  object-fit: cover;
}

/* DESCRIPTION */

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  max-width: 175px;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  padding: 0;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  padding: 0;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* DIGITS */

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title_theme_light {
  margin-top: 100px;
}

.section-subtitle_theme_light {
  margin-top: 20px;
}

.table_theme_light {
  margin-bottom: 100px;
}

.table__cell_theme_light {
  width: 250px;
  margin-top: 60px;
}

.table__text_theme_light {
  margin-top: 20px;
}

/* FEYNMAN */

.feynman {
  position: relative;
  box-sizing: border-box;
  min-height: 890px;
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
  background-size: 867px 637px;
}

.feynman__title {
  max-width: 648px;
  padding: 0;
  margin: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  padding: 0;
  margin: 70px auto auto auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color:#2f80ed;
  text-decoration: none;
}

/* KAUFMAN */

.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #1f1f1f;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-position: top right -210px;
  background-size: 877px 877px;
}

.section-title_theme_dark {
  margin-top: 90px;
  color: #fff;
}

.section-subtitle_theme_dark {
  margin-top: 20px;
  color: #fff;
}

.table_theme_dark {
  position: relative;
  margin-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: #fff;
}

.table__text_theme_dark {
  margin-top: 20px;
  color: #fff;
}

/* FOOTER */

.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #fff;
  background-color: #1f1f1f;
}

.footer__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.footer__column {}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {

}

.footer__column_content_social {}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  padding: 0;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  padding: 0;
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-link {
  padding: 0;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
